---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Quotes from '../components/Quotes.astro';
import About from '../components/About.astro';
import BlogPreview from '../components/BlogPreview.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nexonomic | Economía y Filosofía">
	<Navbar />
	
	<main>
		<Hero />
		<About />
		<BlogPreview />
		<Quotes />
		<Contact />
	</main>
	
	<Footer />
</Layout>