---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sitio oficial sobre economía y filosofía." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
		
		<title>{title}</title>
	</head>
	<body class="bg-deep-bg text-white font-sans antialiased">
		<slot />
	</body>
</html>

<style is:global>
	html {
		background: #050708;
	}

	/* Personalización de la barra de scroll (Webkit: Chrome, Safari, Edge) */
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #050708; /* Color del fondo de la barra */
	}

	::-webkit-scrollbar-thumb {
		background: #1f2937; /* Color gris oscuro para la barra */
		border-radius: 5px;
		border: 2px solid #050708; /* Borde para que se vea separada */
	}

	::-webkit-scrollbar-thumb:hover {
		background: #3cc2a2; /* Se ilumina con tu color Accent al agarrarla */
	}

	/* Estilos para Firefox */
	html {
		scrollbar-width: thin;
		scrollbar-color: #1f2937 #050708;
	}
</style>

